/*fuego -> planta
planta -> tierra
tierra -> fuego */

body{
    margin: 0;
}

.melopia{
    box-sizing: border-box;
    position: fixed;
    background-image: linear-gradient(180deg, #ffe951 0, #ffdd50 8.33%, #ffce51 16.67%, #ffbf52 25%, #ffae53 33.33%, #ff9c53 41.67%, #f28953 50%, #e17852 58.33%, #d06951 66.67%, #c25c51 75%, #b55252 83.33%, #aa4a53 91.67%, #a04455 100%);
    width: 100vw;
    height: 13vh;
    box-shadow: 3px 6px 5px 0px #030305;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titulazo{
    font-family: impact, sans-serif;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 2px black;
    text-align: center;
    font-size: 2.7vw;
}

.pokemon{
    width: 15vw;
    height: 12vh;
}

.cabeza1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 12vh;
}

.cabeza2{
    display: flex;
    justify-content: center;
    width: 75%;
    align-items: center;
}

.cuerpo{
    display: flex;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 13vh;
    flex-wrap: wrap;
    background-size: cover;
}

.cuerpo-hijo1{
    box-sizing: border-box;
    height: 100%;
    width: 25%;
    background-color: rgb(228, 174, 123);
    padding: 5px 8px 0 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-right: rgb(250, 143, 2) solid 4px;
    box-shadow: 3px 6px 5px 0px #030305;
    justify-content: space-evenly;
}

.ejemplo{
    width: 65%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.cuadro1{
    display: flex;
    width: 100%;
    height: 25%;
    align-items: center;
}

.cuadro2{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35%;
}
.cuadro3{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

.texto{
    font-family: impact, sans-serif;
    -webkit-text-fill-color: rgb(1, 2, 3);
    -webkit-text-stroke: 0.5px rgb(248, 246, 246);
    text-align: justify;
    font-size: 30px;
}

.texto2{
    font-family: impact, sans-serif;
    -webkit-text-fill-color: rgb(2, 2, 2);
    -webkit-text-stroke: 0.5px rgb(248, 246, 246);
    text-align: center;
    font-size: 30px;
}

.cuerpo-hijo2{
    height: 100%;
    width: 75%;
    display: flex;
    box-sizing: border-box;
    background: url("https://i.ibb.co/wcPdFFz/forest.jpg");
    background-size: cover;
    flex-direction: column;
    justify-content: space-around;
}

.fondo{
    display: flex;
    height: 100%;
    width: 100%;
}

.arriba{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.jugador{
    width: 220px;
    height: 300px;
    display: flex;
    box-shadow: 3px 6px 5px 0px #030305;
    border-radius: 0.5rem;
}

.computadora{
    width: 220px;
    height: 300px;
    display: flex;
    box-shadow: 3px 6px 5px 0px #030305;
    border-radius: 0.5rem;
}

.versus{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 220px;
    height: 300px;
    flex-direction: column;
}

.versus-arriba{
    display: flex;
    width: 150px;
    height: 150px;
}

.imagem{
    height: 100%;
    width: 100%;
}

.versus-abajo{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
}

.resultado{
    font-family:fantasy;
    font-size: 30px;
    -webkit-text-fill-color: rgb(3, 3, 3);
    -webkit-text-stroke: 1px rgb(253, 5, 5);
    text-align: center;
}

.abajo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 121px;
}

.pokemones{
    width: 100px;
    height: 100px;
    display: flex;
    margin: 0 20px;
    box-sizing: border-box;
}

.pokemones:hover{
    width: 120px;
    height: 120px;
}

.ajustes-de-tarjetas{
    height: 100%;
    width: 100%;
    border-radius: 0.7rem;
}

.pokemones-abajo{
    height: 100%;
    width: 100%;
    border-radius: 0.7rem;
}

.pokemones-abajo:hover{
    border: white solid 5px;
}

@media (max-height: 984px), (max-width: 2010px){
    .texto{
        font-size: 26px;
    }
    .texto2{
        font-size: 26px;
    }
}

@media (max-height: 876px), (max-width: 1822px){
    .texto{
        font-size: 24px;
    }
    .texto2{
        font-size: 24px;
    }
}

@media (max-height: 816px), (max-width: 1634px){
    .texto{
        font-size: 22px;
    }
    .texto2{
        font-size: 22px;
    }
}

@media (max-height: 768px), (max-width: 1510px){
    .texto{
        font-size: 20px;
    }
    .texto2{
        font-size: 20px;
    }
}

@media (max-height: 674px), (max-width: 1406px){
    .texto{
        font-size: 18px;
    }
    .texto2{
        font-size: 18px;
    }
}

@media (max-height: 638px), (max-width: 1238px){
    .texto{
        font-size: 16px;
    }
    .texto2{
        font-size: 16px;
    }
}

@media (max-height: 632px), (max-width: 320px){
    .melopia{
        flex-direction: column;
        height: 10vh;
        justify-content: flex-start;
        align-items: center;
    }
    .cabeza1{
        height: 50%;
        justify-content: center;
        display: flex;
        align-content: center;
    }
    .cabeza2{
        height: 25%;
        width: 100%;
        justify-content: center;
        display: flex;
        padding-top: 3px;
    }
    .pokemon{
        height: 90%;
        width: 100%;
    }
    .titulazo{
        font-size: 10px;
        font-family:monospace;
        -webkit-text-fill-color:initial;
        -webkit-text-stroke: initial;
    }

    .cuerpo{
        flex-direction: column;
        padding-top: 10vh;
        height: 100vh;
    }
    .cuerpo-hijo1{
        width: 100%;
        height: 15%;
        flex-direction:row;
        justify-content:space-evenly;
        align-content: center;
        padding: 0;
        
    }
    .texto{
        font-size: 9px;
        -webkit-text-fill-color:initial;
        -webkit-text-stroke: initial;
        padding-top: 12px;
    }
    .texto2{
        font-size: 0;
    }
    .ejemplo{
        width: 90%;
        height: 90%;
    }
    .cuadro1{
        width: 68%;
        height: 100%;
    }
    .cuadro2{
        width: 28%;
        height: 100%;
        margin: 0;
        
    }
    .cuadro3{
        width: 0;
        height: 0;
        display: none;
    }

    .cuerpo-hijo2{
        height: 70%;
        width: 100%;
        justify-content: space-evenly;
    }

    .jugador{
        width: 100px;
        height: 140px;
        border-radius: 0.5rem;
    }

    .versus{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 120px;
        height: 200px;
        flex-direction: column;
    }

    .versus-arriba{
        width: 50px;
        height: 50px;
    }

    .resultado{
        font-family:fantasy;
        font-size: 15px;
        -webkit-text-fill-color: rgb(250, 246, 246);
        -webkit-text-stroke: 1px rgb(3, 2, 2);
        text-align: center;
    }

    .computadora{
        width: 100px;
        height: 140px;
    }

    .pokemones{
        width: 80px;
        height: 80px;
    }
   
}
